
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1.amos {
  font-family: Futura;
  text-align: center;
}

h3.about {
  font-family: Futura;
  text-align: left;
}

img.bro {
  max-width: 100%;
  vertical-align: center;
}

.box {
/*  border-top: 7px solid #000;
  border-bottom: 7px solid #000;*/
}

.border {
  border-bottom: 3px solid #000;
}

.bordertop {
  border-top: 3px solid #000;
}

p.work {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 0px;
}

p.about {
  line-height: 1.4;
  margin-bottom: 2%;
  font-size: 1.77em;
}

p.about a {
  text-decoration: underline;
}

p.about a:hover {
  color: #cd251f;
}

p.about a:active {
  color: #000;
}

p.email {
  font-size: 1.5em;
  line-height: 1.3;
  margin-top: 0.5em;
  margin-bottom: 1.0em;
}

p.name {
  font-size: 1.77em;
  text-align: center;
}

a.about {
  text-decoration: underline;
  color: #000;
}

a.about:active {
  color: #000;
}

a.about:hover {
  color: #cd251f;
}

a.amos {
  color: #000;
}

a.amos:active {
  color: #000;
}

a.amos:hover {
  color: #cd251f;
}

li {
  list-style: none;
}


@media only screen and (max-width: 414px) {
    
    p.name {
      font-size: 14px;
    }

    p.about {
      font-size: 16px;
      margin-bottom: 20px;
    }

    p.work {
      font-size: 14px;
    }
}
